// 1450px
@include xxxxlg-xxxxxlg {
    // @include hero-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
    h1,h2 {
        font-size: 38px;
        line-height: 44px;
        margin-bottom: 40px;
    }
    .main {
        padding-top: 106.86px;
    }
    @include header-xxxlg-xxxxlg;
    @include nav-xxxlg-xxxxlg;
    @include hero-xxxlg-xxxxlg;
    @include intro-xxxlg-xxxxlg;

}
// 1250px
@include xlg-xxlg-extra {
    @include hero-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
    .auto__container {
        padding: 0 30px;
    }
    h1,h2 {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 30px;
    }
    h6 {
        font-size: 20px;
        line-height: 27px;
    }
    body {
        font-size: 20px;
        line-height: 27px;
    }
    .main {
        padding-top: 96.69px;
    }
    .button {
        font-size: 20px;
        line-height: 27px;
        span {
            width: 44px;
            height: 44px;
        }
    }
    @include header-xlg-xxlg;
    @include nav-xlg-xxlg;
    @include hero-xlg-xxlg;
    @include interface-xlg-xxlg;
    @include intro-xlg-xxlg;
    @include performance-xlg-xxlg;

}
// 1024px
@include lg-xlg {
    ::-webkit-scrollbar{
        display: none;
    }
    h1,h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 24px;
    }
    .main {
        padding-top: 86.14px;
    }
    @include header-lg-xlg;
    @include nav-lg-xlg;
    @include hero-lg-xlg;
    @include team-lg-xlg;
    @include credentials-lg-xlg;

}
// 930px
@include md-lg {
    @include hero-md-lg;
    @include interface-md-lg;
    @include intro-md-lg;
    @include team-md-lg;
    @include credentials-md-lg;
    @include performance-md-lg;
    @include footer-md-lg;

}
// 750px
@include sm-md {
    h1,h2 {
        font-size: 26px;
        line-height: 34px;
        margin-bottom: 38px;
    }
    @include hero-sm-md;
    @include team-sm-md;
    @include intro-sm-md;
    @include credentials-sm-md;
    @include performance-sm-md;
    @include footer-sm-md;

}
// 650px
@include sm-md-extra {
    @include hero-sm-md-extra;
}
// 540px
@include xsm-sm  {
    h1,h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }
    @include hero-xsm-sm;
    @include intro-xsm-sm;
    @include team-xsm-sm;
    @include credentials-xsm-sm;
    @include footer-xsm-sm;

}
// 440px
@include xxsm-xsm  {
    @include hero-xxsm-xsm;
}
// 400px
@include xxxsm-xxsm  {
    .auto__container {
        padding: 0 20px;
    }
    h1,h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    h6 {
        font-size: 17px;
        line-height: 24px;
    }
    p {
        &.ex {
            font-size: 17px;
            line-height: 24px;
        }
    }
    .button {
        font-size: 17px;
        line-height: 24px;
        span {
            width: 36px;
            height: 36px;
            margin-left: 15px;
        }
    }
    body {
        font-size: 17px;
        line-height: 24px;
    }
    .main {
        padding-top: 74.33px;
    }
    @include header-xxxsm-xxsm;
    @include nav-xxxsm-xxsm;
    @include hero-xxxsm-xxsm;
    @include intro-xxxsm-xxsm;
    @include performance-xxxsm-xxsm;

}

